# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
*.egg-info

# MkDocs
site/

# Node
node_modules/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Devcontainers local data
.devcontainer/data/


# APM dependencies
apm_modules/

# Cloudflare / OpenNext
.open-next/
.wrangler/
